
<html lang="en">
<head>
  <title>ATC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    .center {
      margin-top: 50px;
      text-align: center;
    }
	
    .center_2 {
      text-align: center;
    }

    .center_3 {
      text-align: right;
    }

    .center_4 {
      text-align: left;
    }

    .center_bottom {
      margin-bottom: 80px;
      text-align: center;
    }

</style>
 
</head>

<!--start of navbar code-->
<body>  
<nav class="navbar navbar-dark navbar-expand-lg bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('photos_videos') }}" id = 'photos'>Your Photos and Videos</a></li>
    </ul>
  </div>
</nav>
</body>

<body>
    <!--below makes sure ATC Car View is always center above video-->
    <div class="row"> <!--row-->
		<div class="col-12 center"> <!--column-->
			<h2>Photos</h2>
		</div>
	</div>

	<div class="container">
		<div class="row"> <!--Random buttons to show having elements next to the video.-->

			<div class="col-12 col-md-4 col-lg-4 col-xl-4 center_2">
				<img src="photo_4.jpg" width="280" height="250">
			</div>

			<div class="col-12 col-md-4 col-lg-4 col-xl-4 center_2">
				<img src="photo_2.jpg" width="280" height="250">
			</div>

			<div class="col-12 col-md-4 col-lg-4 col-xl-4 center_2">
				<img src="photo_3.jpeg" width="280" height="250">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row"> <!--row-->
			<div class="col-12 center_2"> <!--column-->
				<h2></h2>
				<h2></h2>
			</div>
		</div>

		<div class="row"> <!--Random buttons to show having elements next to the video.-->

			<div class="col-12 col-md-4 col-lg-4 col-xl-4 center_2">
				<img src="photo_1.jpg" width="280" height="250">
			</div>
		</div>
	</div>

	<!--spacing below-->

	<div class="container">
		<div class="row"> <!--row-->
			<div class="col-12 center_bottom"> <!--column-->
				<h2></h2>
				<h2></h2>
			</div>
		</div>


	</div>

</body>

<body>
	<nav class="navbar fixed-bottom navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Created by the ATC Group 2019</a>
	</nav>
</body>
</html>

